{% extends 'notes/base.html' %}

{% block title %}{{note.title}} | Jottr{% endblock title %}

{% block body %}
<h3>{{note.title}}</h3>
<button><a href="{% url 'notes:update_note' note.pk %}">Edit</a></button>
<button><a href="{% url 'notes:delete_note' note.pk %}">Delete</a></button>
<button><a href="{% url 'notes:archive_note' note.pk %}">Archive</a></button>
<i><b>
    {% if note.archived %}
    Archived
    {% else %}

    {% endif %}
</b></i>

<br>
<p>{{note.content}}</p>
{% endblock body %}